{% extends 'notes_page/base.html' %}
{% load static %}

{% block link %}
    <link rel="stylesheet" href="{% static 'notes_page/form.css' %}">
{% endblock %}

{% block content %}
        <div style="display: flex;justify-content: center;">
            <div class="login-box mt-5">
                <h1>Новая заметка</h1>
                <form action="" method="post">{% csrf_token %}
                        {{ form.as_p }}
                    <style>
                        h1 {
                            color: #0022ff;
                            text-shadow:
                                0px 0px 10px #0022ff,
                                1px 1px 20px #0022ff,
                                -1px -1px 50px #0022ff
                        }
                    </style>
                    <div style="display: flex;flex-direction: column;">
                      <div><input type="submit" value="Сохранить" class="but"/></div>
                      <div><a href="{% url 'home' %}" class="none none2"><input type="button" value="назад" class="but"/></a></div>
                    </div>
                </form>

            </div>
        </div>

{% endblock %}